body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e5d7cf; 
    color: #4e342e; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center; /* Alles zentrieren */
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-top: 10px;
}

header {
    background-color: #916341; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

/* Stil für Haupt-Navigations-Buttons */
.nav-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #b5886d; 
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
    letter-spacing: 0.5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 15px; /* Abstand zwischen den Buttons */
    border: 1px solid #4e342e;
}

.nav-button:hover {
    background-color: #916341; 
}

/* Stil für die Übersicht (z.B. die 16 Kompartimente) */
.kompartiment-list {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.kompartiment-item {
    padding: 8px 0;
    border-bottom: 1px solid #4e342e;
}

.kompartiment-item a {
    text-decoration: none;
    font-size: 1.1em;
}

.kompartiment-item a:hover {
    color: #916341;
}